/*
  Copyright 2019 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/
html {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  overscroll-behavior: none;
}
body {
  height: 100%;
  background-color: #222;
  overscroll-behavior: none;
}
.container {
  padding-top: 1vw;
  width: 100%;
  max-width: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#alliance {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #333;
}
#alliance[data-alliance="red"] {
  background-color: rgb(138, 17, 21);
}
#alliance[data-alliance="blue"] {
  background-color: rgb(0, 79, 140);
}
#matchName {
  margin-bottom: 0.5vw;
  font-size: 2vw;
}
.scoring-section {
  margin-bottom: 0.5vw;
  display: flex;
  font-size: 1.5vw;
  color: #ccc;
}
.scoring-header>div{
  height: 3.3vw;
  display: flex;
  align-items: center;
  margin: 0.4vw 1vw 0.4vw 0.2vw;
  color: #ccc;
}
.robot-field {
  width: 17vw;
  height: 3.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4vw 0.2vw;
}
.team {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  font-weight: bold;
}
.boolean[data-value="false"] {
  background-color: #333;
}
.boolean[data-value="true"] {
  background-color: #263;
}
#postMatchMessage {
  height: 5vw;
  display: none;
  align-items: center;
  font-size: 1.5vw;
  color: #c90;
}
#commitMatchScore {
  height: 5vw;
  display: none;
  align-items: center;
}
#commitMatchScore>button {
  font-size: 1vw;
}
#stage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#stageGraphic {
  margin-top: 9vw;
  height: 30vw;
  color: #999;
}
.stage-side {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 16vw;
  height: 8vw;
  border: 0.5px solid #111;
}
.stage-side-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
.stage-side-col div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 1.5vw;
  background-color: #333;
  border: 0.5px solid #111;
}
#stageLeft {
  top: 20vw;
  left: -8.5vw;
}
#centerStage {
  top: 0.5vw;
  left: 9.3vw;
}
#stageRight {
  top: 20vw;
  left: 25.9vw;
}
#park {
  top: 13vw;
  left: 12.2vw;
  width: 9vw;
}
.goal {
  width: 10vw;
  height: 5vw;
  margin: 0.4vw 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.number-button {
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #666;
  border-radius: 0.5vw;
  font-size: 50%;
  
}
.plus {
  background: #263;
}
.minus {
  background: #633;
}
.btn1 {
  background: #263;
}
.btn2 {
  background: #633;
}
#elements {
  
  justify-content: space-evenly;
  align-items: start;
}
.shortcut {
  margin: 0 0.2vw;
  font-size: 1vw;
  width: 100%;
  align-self: flex-start;
}
.row{
  width: 100%;
}
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 1px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
  
}

.right {
  width: 75%;
  
}
#manualScore {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #333;
}
#manualScore[data-alliance="red"] {
  background-color: rgb(138, 17, 21);
}
#manualScore[data-alliance="blue"] {
  background-color: rgb(0, 79, 140);
}
.icon {
  width: 100%;
}

.eStops {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #333;
}
  .teamEstopPanle {
    width: 10vw;
    height: auto;
    margin: 0.4vw 3vw;
    justify-content: space-between;
    align-items: center;
  }

  .octagon-button {
    position: relative;
    width: 10vw; /* Adjust width */
    height: 10vw; /* Adjust height */
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    color: rgb(255, 255, 255); /* Text color */
    cursor: pointer;
    border: none;
  }
  
  .octagon-button .icon {
    margin-top: 1px;
  }
  
  .octagon-button:hover {
    background: #fbff06; /* Change color on hover */
    color: rgb(0, 0, 0); /* Text color */
  }

  .iconCentered{
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    text-align: center; /* Center text alignment */
    height: auto; /* Allow dynamic height adjustment */
    line-height: 1.5; /* Adjust line spacing if needed */
    padding: 10px; /* Add padding to increase perceived size */
    font-size: 1.2em; /* Increase font size for visibility */
  }
  .shorcutCentered {
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    margin-bottom: 5px; /* Space between text and icon */
    text-align: center; /* Center text within its container */
  }

  .hidden {
    display: none; /* Completely hides the element */
}
.btnE {
  background: rgb(255, 0, 0);
}
.btnA {
  background: rgb(0, 119, 255);
}