{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for entering realtime scores.
*/}}
{{define "title"}}Scoring Panel{{end}}
{{define "body"}}
<div id="matchName">&nbsp;</div>
<div id="currentScore"></div>
<div class="row">
  <div class="column left">
    <div id="manualScore">
      <div justify-content=" flex-start" align-items="left">
        <div id="processorCount"></div>
        <!-- <div id="currentAmpificationCount"></div>
        <div id="ampCount"></div>
        <div id="speakerCount"></div> -->
      </div>

      <div id="elements">
        <div class="goal-header" >Processor  
          <!-- {{template "goaladd" dict "plus" "S" "txt1" "Auto+"}} -->
          {{template "2goal" dict "btn1" "P" "txt1" "Auto+" "btn2" "p" "txt2" "Auto-" "count" "processedAlgae"}}
          <!-- {{template "2goal" dict "btn1" "O" "txt1" "Auto+" "btn2" "o" "txt2" "Auto-" "count" "autoSpeakerNotes"}} -->
          <!--  {{template "2goal" dict "btn1" "P" "txt1" "Amped+" "btn2" "p" "txt2" "Amped-" "count" "teleopAmplifiedSpeakerNotes"}}
          {{template "2goal" dict "btn1" "I" "txt1" "Teliop+" "btn2" "i" "txt2" "Teliop-" "count" "teleopUnamplifiedSpeakerNotes"}} -->
        </div>
        <div class="goal-header" >Barge Net
          {{template "2goal" dict "btn1" "B" "txt1" "Auto+" "btn2" "b" "txt2" "Auto-" "count" "netAlgae"}}
        </div>
        <!-- <div class="goal-header">AMP
          {{template "goaladd" dict "plus" "A" "txt1" "Sensor"}}
          {{template "2goal" dict "btn1" "U" "txt1" "Auto+" "btn2" "u" "txt2" "Auto-" "count" "autoAmpNotes"}}
          {{template "2goal" dict "btn1" "Y" "txt1" "Teliop+" "btn2" "y" "txt2" "Teliop-" "count" "teleopAmpNotes"}}
          {{template "2goal" dict "btn1" "B" "txt1" "bank+" "btn2" "b" "txt2" "bank-" "count" "bankedAmpNotes"}}
        </div> -->
        <!-- <div class="goal-header">Coop Button
          <div id="coopertitionStatus" class="boolean robot-field" onclick="handleClick('coopButton');">
            <div class="value"></div>
          </div>
        </div>
        <div class="goal-header">Amp Button
          <div id="amplificationActive" class="boolean robot-field" onclick="handleClick('amplifyButton');">
            <div class="value"></div>
          </div>
        </div> -->
      </div>

      <div>
        
        
        <div id="ampAccumulatorDisable" class="boolean robot-field" onclick="handleClick('ampAccumulatorDisable');">
          <div class="value"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="column right">
    <div id="alliance">
      <div class="scoring-section">
        <div class="scoring-header">
          <div>&nbsp;</div>
          <div>Leave</div>
          <div>End Game</div>
        </div>
        {{range $i := seq 3}}
          <div>
            <div class="team team-{{$i}} robot-field"></div>
            <div id="leaveStatus{{$i}}" class="boolean robot-field" onclick="handleClick('leave', {{$i}});">
              <div class="value"></div>
            </div>
            <div id="endgameStatus{{$i}}" class="endgame-status robot-field"
              onclick="handleClick('endgameStatus', {{$i}});">
              <div class="value"></div>
            </div>
          </div>
        {{end}}

      </div>
      <div class="side-header-container">
        <div class="side-header">Side 1</div>
        <div class="side-header">Side 2</div>
      </div>
      <div class="scoring-section">
          <div class="scoring-column">
            <div class="scoring-level">Level 4
              <div class="grid-row-container">
                {{template "gridRow" dict "rowIndex" 3 "validNodeStates" (index .ValidGridNodeStates 3)}}
              </div>
            </div>
            <div class="scoring-level">Level 3
              <div class="grid-row-container">
                {{template "gridRow" dict "rowIndex" 2 "validNodeStates" (index .ValidGridNodeStates 2)}}
              </div>
            </div>
            <div class="scoring-level">Level 2
              <div class="grid-row-container">
                {{template "gridRow" dict "rowIndex" 1 "validNodeStates" (index .ValidGridNodeStates 1)}}
              </div>
            </div>
            <div class="scoring-level">Level 1</div>
              <div class="template-container">
                <div class="template-group">
                  {{template "4goal" dict "btn1" "A" "txt1" "Auto+" "btn2" "a" "txt2" "Auto-" "count" "autoLvL1_0" "btn3" "T" "txt3" "Teliop+" "btn4" "t" "txt4" "Teliop-" "count2" "teliopLvL1_0"}}
                </div>
                <div class="template-group">
                  {{template "4goal" dict "btn1" "R" "txt1" "Auto+" "btn2" "r" "txt2" "Auto-" "count" "autoLvL1_1" "btn3" "M" "txt3" "Teliop+" "btn4" "m" "txt4" "Teliop-" "count2" "teliopLvL1_1"}}
                </div>
              </div>
            </div>
          </div>
        </div>
      {{if .AlternateIOEnabled}}
    <button id="toggleButton">Show E-Stops</button>
    <div class="eStops hidden">EStops
      {{template "2stops" dict "btn1" "E1" "txt1" "EStop" "btn2" "A1" "txt2" "AStop"}}
      {{template "2stops" dict "btn1" "E2" "txt1" "EStop" "btn2" "A2" "txt2" "AStop"}}
      {{template "2stops" dict "btn1" "E3" "txt1" "EStop" "btn2" "A3" "txt2" "AStop"}}
    </div>
    {{end}}
  </div>

</div>

<div id="commitMatchScore">
  <button type="button" class="btn btn-primary" onclick="commitMatchScore();">
    Commit Final Match Score
  </button>
</div>
<div id="postMatchMessage">Waiting for the next match...</div>
{{end}}
{{define "head"}}
<link rel="manifest" href="/static/manifest/{{.Alliance}}_scoring.manifest">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link href="/static/css/scoring_panel.css" rel="stylesheet">
{{end}}
{{define "script"}}
<script src="/static/js/match_timing.js"></script>
<script src="/static/js/scoring_panel.js"></script>
{{end}}
{{define "stageSide"}}
<div class="stage-side-col">
  <div id="stageSide{{.index}}Team1" class="team-1 boolean" onclick="handleClick('onStage', 1, {{.index}});"></div>
  <div id="stageSide{{.index}}Team2" class="team-2 boolean" onclick="handleClick('onStage', 2, {{.index}});"></div>
  <div id="stageSide{{.index}}Team3" class="team-3 boolean" onclick="handleClick('onStage', 3, {{.index}});"></div>
</div>
<div class="stage-side-col">
  <div id="stageSide{{.index}}Microphone" class="boolean" onclick="handleClick('microphone', 0, {{.index}});">Mic</div>
  <div id="stageSide{{.index}}Trap" class="boolean" onclick="handleClick('trap', 0, {{.index}});">Trap</div>
</div>
{{end}}
{{define "goaladd"}}
<div class="goal">
  <div class="number-button plus" onclick="handleClick('{{.plus}}');">
    <div class="shortcut">{{.plus}}</div>
    <div class="icon">
      {{.txt1}}
    </div>
    <div class="shortcut" style="opacity: 0;">{{.plus}}</div>
  </div>
</div>
{{end}}

{{define "goalsub"}}
<div class="goal">
  <div class="number-button minus" onclick="handleClick('{{.minus}}');">
    <div class="shortcut">{{.minus}}</div>
    <div class="icon">
      {{.txt1}}
    </div>
    <div class="shortcut" style="opacity: 0;">{{.minus}}</div>
  </div>
</div>
{{end}}



{{define "2goal"}}
<div class="goal">
  <div class="number-button btn1" onclick="handleClick('{{.btn1}}');">
    <div class="shortcut">{{.btn1}}</div>
    <div class="icon">
      {{.txt1}}
    </div>
    <div class="shortcut" style="opacity: 0;">{{.btn1}}</div>
  </div>
  <div id={{.count}}></div>
  <div class="number-button btn2" onclick="handleClick('{{.btn2}}');">
    <div class="shortcut">{{.btn2}}</div>
    <div class="icon">
      {{.txt2}}
    </div>
    <div class="shortcut" style="opacity: 0;">{{.minus}}</div>
  </div>
</div>
{{end}}
{{define "4goal"}}
<div class="goal4">
  <div class="number-button btn1" onclick="handleClick('{{.btn1}}');">
    <div class="shortcut">{{.btn1}}</div>
    <div class="icon">
      {{.txt1}}
    </div>
    <div class="shortcut" style="opacity: 0;">{{.btn1}}</div>
  </div>
  <div id={{.count}}></div>
  <div class="number-button btn2" onclick="handleClick('{{.btn2}}');">
    <div class="shortcut">{{.btn2}}</div>
    <div class="icon">
      {{.txt2}}
    </div>
    <div class="shortcut" style="opacity: 0;">{{.minus}}</div>
  </div>

<!-- </div>
<div class="goal"> -->
  <div class="number-button btn3" onclick="handleClick('{{.btn3}}');">
    <div class="shortcut">{{.btn3}}</div>
    <div class="icon">
      {{.txt3}}
    </div>
    <div class="shortcut" style="opacity: 0;">{{.btn3}}</div>
  </div>
  <div id={{.count2}}></div>
  <div class="number-button btn4" onclick="handleClick('{{.btn4}}');">
    <div class="shortcut">{{.btn4}}</div>
    <div class="icon">
      {{.txt4}}
    </div>
    <div class="shortcut" style="opacity: 0;">{{.minus}}</div>
  </div>
</div>
{{end}}

{{define "2stops"}}
<div class="teamEstopPanle">
  <div class="number-button btnE octagon-button" onclick="handleClick('{{.btn1}}');">
    <div class="shorcutCentered">{{.btn1}}
      <div class="iconCentered">
        {{.txt1}}
      </div>
    </div>
    <div class="shortcut" style="opacity: 0;">{{.btn1}}</div>
  </div>
  <div>&nbsp;</div>
  <div class="number-button btnA octagon-button" onclick="handleClick('{{.btn2}}');">
    <div class="shorcutCentered">{{.btn2}}
      <div class="iconCentered">
        {{.txt2}}
      </div>
    </div>
    <div class="shortcut" style="opacity: 0;">{{.minus}}</div>
  </div>
</div>
{{end}}
{{define "gridRow"}}
<div class="grid-row">
  {{range $i, $validStates := .validNodeStates}}
    {{template "gridNode" dict "rowIndex" $.rowIndex "nodeIndex" $i "validStates" $validStates}}
  {{end}}
</div>
{{end}}
{{define "gridNode"}}
<div class="grid-node" data-node="{{.nodeIndex}}">
  <div id="gridAutoScoringRow{{$.rowIndex}}Node{{$.nodeIndex}}" class="grid-node-auto"
    onclick="handleClick('gridAutoScoring', 0, 0,{{$.rowIndex}}, {{$.nodeIndex}})">
    Auto
  </div>
  <div id="gridNodeStatesRow{{$.rowIndex}}Node{{$.nodeIndex}}" class="grid-node-states">
    {{range $i, $state := .validStates}}
      {{if ne $state "Empty"}}
        {{template "gridNodeButton" dict "i" $i "state" $state "rowIndex" $.rowIndex "nodeIndex" $.nodeIndex}}
      {{end}}
    {{end}}
  </div>
</div>
{{end}}
{{define "gridNodeButton"}}
<div class="grid-node-button" data-node-state="{{nodeStateToInt .i}}"
  onclick="handleClick('gridNode', 0, 0, {{.rowIndex}}, {{.nodeIndex}}, {{nodeStateToInt .i}})">
  <img src="/static/img/node_states/{{.state}}.svg" />
</div>
{{end}}
